#weroad{
	    background-color: rgb(20, 139, 156);
    text-shadow: rgb(125, 125, 125) -1px 0px 2px;
    font-weight: 600;
    border: 1px solid rgb(32, 35, 33);
}

.hiden{display:none;}
.ineedhelp {
  position: relative;

  display: block;
  margin: 30px auto;


  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;
}
